<h1>Profile</h1>
<p><%= @user.name %> (<%= @user.email %>)</p>
<% if @user.events.any? %>
<p><%= @user.events.first.name %></p>
<% end %>
<h2>Previously attended events:</h2>
<ul>
<% @prev_events.each do |e| %>
<li><%= e.name %></li>
<% end %>
</ul>
<h2>Upcoming events:</h2>
<ul>
<% @upcoming_events.each do |e| %>
<li><%= e.name %></li>
<% end %>
</ul>